@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

#hltsheading {
  margin: auto;
  font-size: 7rem;
}

#menu-btn {
  margin-top: 0;
  left: 5rem;
}

.hlts {
  /* min-height: 100vh; */
}

.mycontainer{
  margin: 0;
  padding: 0;
}
.card {
  padding-bottom: 3%;
  box-shadow: 0px 0px 10px #437bc4;
  background-color: #272727 !important;
  border: none !important;
  margin: 1rem;
  display: flex;
  width: 100%;
}


.card-text{
  font-size: 1.5rem;
}

p,
h5,
h1 {
  font-family: "Montserrat";
}

.card-body h5 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.date-time {
  border: 5px solid #ffffff;
  padding: 0.5rem;
}

.date-time h5 {
  font-size: 3rem;
  color: #437bc4 !important;
}

.date-time h1 {
  font-size: 4rem;
  font-weight: bold;
}

#home-btn {
  right: 5rem;
  z-index: 5;
  position: fixed;
  margin-top: -1.5rem;
}

@media only screen and (max-width: 600px) {
  #menu-btn {
    left: 1rem;
  }
  #home-btn {
    margin-top: -1.25rem;
    right: 1rem;
  }
}

#marquee-container {
  background-color: white;
  bottom: 0;
   width: 100%; /* or whatever you want */
   margin: 0 auto; /* centers it */
   overflow: hidden;
   white-space: nowrap;
}

.smallimage{
  padding-left: 5px;
  padding-right: 5px;
}
@media screen and (min-width: 600px) {
  /* large screen */
  .card img{
    align-self: center;
    width: 35%;
    height: 35%;
  }
  .myrow1{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .myrow2{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .smallimage{
    height: 10%;
    width: 10%;
  }
}

@media screen and (max-width: 600px) {
  /* small version */
  #hltsheading {
    font-size: 4rem;
  }
  .date-time h5 {
    font-size: 2rem;
    color: #437bc4 !important;
  }

  .date-time h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  .card{
    padding-bottom: 4%;
  }
  .card img{
    align-self: center;
    width: 70%;
    height: 70%;
  }
  .myrow1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .myrow2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .smallimage{
    height: 30%;
    width: 30%;
  }
}
